@using WebUI.Models
@model ProductsListViewModel

@{
    ViewBag.Title = "Продукти";
}

@foreach (var product in Model.Products)
{
    @Html.Partial("_ProductSummary", product)
}

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, kind = Model.CurrentKind }))
</div>
